<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="FrameworkConfigSection">
			<section name="FrameworkConfig" type="Wheel.Configuration.Section.FrameworkConfigSection, Wheel.Configuration" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<FrameworkConfigSection>
		<FrameworkConfig>
			<ConfigProperties>
				<PropertiesGroup Name="Log4Me">
					<Property Name="LibrariesFolderWriters" Value="'.[DS]'" />
				</PropertiesGroup>
			</ConfigProperties>
			<ConfigFiles>
				<File Name="Log4MeConfig" Path=".[DS][FileName]" />
			</ConfigFiles>
		</FrameworkConfig>
	</FrameworkConfigSection>

</configuration>