<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" allowedVersions="[9,10)" targetFramework="net35" />
  <package id="PostSharp" version="4.3.23" allowedVersions="[4,5)" targetFramework="net35" />
  <package id="Wheel.Configuration" version="1.0.0.0" allowedVersions="[1,2)" targetFramework="net35" />
  <package id="Wheel.Configuration.XML" version="1.0.0.0" allowedVersions="[1,2)" targetFramework="net35" />
  <package id="Wheel.Data.Json" version="1.0.0.0" allowedVersions="[1,2)" targetFramework="net35" />
  <package id="Wheel.Extensions" version="1.0.0.0" allowedVersions="[1,2)" targetFramework="net35" />
  <package id="Wheel.Util.FileSystem" version="1.0.0.0" allowedVersions="[1,2)" targetFramework="net35" />
  <package id="WheelFramework.Core" version="1.0.1.0" allowedVersions="[1,2)" targetFramework="net35" />
</packages>